body {
  font-family: Arial, Helvetica, sans-serif;
  background: #002b36;
  color: white;
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px;
}

input, button, select {
  width: 25vw;
  font-size: large;
  padding: 10px;
  border: none;
  margin: none;
  border-radius: 15px;
  /* box-sizing: border-box; */
}

input[type="submit"], button {
  background: #00adb5;
  width: auto;
  color: white;
  font-weight: bold;
}

select {
  width: auto;
}

:is(input[type="submit"], button):hover {
  background: #0087a3;
  cursor: pointer;
}

:is(input, button, select).left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:is(input, button, select).right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:is(input, button, select).center {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

a {
  text-decoration: none;
  color: #17a2b8
}

a:hover {
  color: #0070f3;
}

div.progress-bar {
  width: 75vw;
  height: 32px;
  background: #00adb5;
  border-radius: 15px;
  margin-top: 10px;
  overflow: hidden;
}

div.progress-bar-fill {
  width: 0%;
  height: 100%;
  background: #0087a3;
  border-radius: 15px;
}

div.containers {
  margin-bottom: 32px;
}

.iframe-container {
  width: 100vw;
  box-sizing: border-box;
  display: block;
  margin: auto;
  border: none;
  border-top: solid 1px #0087a3;
  margin-top: 32px;
}

code {
  display: block;
  background: #000f13;
  color: #00adb5;
  padding: 10px;
  border-radius: 15px;
}